@keyframes slideUp {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.Message {
  animation: slideUp 0.2s ease-out forwards;
  margin: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.Message__card {
  width: fit-content;
}

.Message_human {
  flex-direction: row-reverse;

  .Message__card {
    background: #03390f;
    color: white;
  }
}

.Message__avatar {
  flex-shrink: 0;
}