.logo {
  height: 6em;
  padding: 1.5em;
}

.App {
  display: flex;
  width: 75vw;
  flex-direction: column;
  margin: auto;
  gap: 16px;
  height: 100vh;
}

.App__headerContainer,
.App__messageInputContainer {
  flex: 0;
}

.App__messageListContainer {
  padding: 16px;
  flex: 1;
}

.MessageInput__container {
  display: flex;
}
